:root {
    --red: #c10000;
    --soft-pink: #f1dedd;
    --bg-gray: #f7f5f2;
    --white: #fff;
    --dark: #000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

ul,ol{
    list-style-type: none;
}

a {
    text-decoration: none;
}

.m-w1480{
    max-width: 1480px;
    margin: 0 auto;
}
.m-w1280{
    max-width: 1280px;
    margin: 0 auto;
}
.container {
    width: 980px;
    margin: 0 auto;
}
.sub_container {
    width: 920px;
    margin: 0 auto;
}
/* Your style start here */
.bg_gray{
    background: var(--bg-gray);
}


/* ========================================
inherit_specialist_sec start =============== */

.inherit_specialist_sec{
    padding: 60px 0;
}